<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/head-common.html')  %>
  <title><%= htmlWebpackPlugin.options.title%> - happyMXW电商平台项目</title>
</head>

<body>
  <%= require('html-loader!./layout/nav-simple.html')  %>

  <div class="page-wrap">
    <div class="w">
      <!-- 主容器 -->
      <div class="user-con">
        <!-- 标题 -->
        <div class="user-title">用户登录</div>

        <!-- 内容 -->
        <div class="user-box">
          <!-- Error -->
          <div class="error-item">
            <i class="fa fa-minus-circle error-icon"></i>
            <p class="err-msg">Error</p>
          </div>

          <!-- 用户名 -->
          <div class="user-item">
            <label for="username" class="user-label">
              <i class="fa fa-user"></i>
            </label>
            <input class="user-content" id="username" placeholder="请输入用户名" autocomplete="off">
          </div>

          <!-- 密码 -->
          <div class="user-item">
            <label for="password" class="user-label">
              <i class="fa fa-lock"></i>
            </label>
            <input type="password" class="user-content" id="password" placeholder="请输入密码" autocomplete="off">
          </div>

          <!-- 登录按钮 -->
          <a class="btn btn-submit" id="submit">登录</a>

          <!-- 跳转区 -->
          <div class="link-item">
            <a href="./user-pass-reset.html" class="link" target="_block">忘记密码</a>
            <a href="./user-register.html" class="link">免费注册</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
  <%= require('html-loader!./layout/footer.html')  %>
</body>

</html>